/* Header page`s style */
header {
  width: 100%;
  background-color: #fff;
}
.header__container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 20px;
}
.header__navbar {
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__logo {
  margin: 20px 20px;
}

.header__navbar--box {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.navigation__list {
  display: flex;
  height: 51px;
  width: 497px;
  padding: 16px 20px 16px 20px;
  margin-left: 545px;
}
.navigation__link {
  width: 87px;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #525560;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-right: 35px;
}
.navigation__link:hover {
  color: #0b0706;
}

.submit__btn {
  width: 115px;
  height: 43px;
  border: 1px solid none;
  border-radius: 5px;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.63);
}
.submit__btn a {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  text-align: center;
  color: #fff;
}
.submit__btn:hover {
  background-color: #000000;
}
.responsive__menu--icon {
  display: none;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
#myBtn img {
  background-color: white;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-body {
  padding: 2px 16px;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-body ul li {
  margin-bottom: 25px;
  color: #525560;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #525560;
}
.modal-body ul li a {
  color: #525560;
}
.modal-body ul li a:hover {
  color: #000;
}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
@media (max-width: 1000px) {
  .header__navbar {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  .navigation__list {
    display: none;
    height: 51px;
    width: 497px;
    padding: 16px 20px 16px 20px;
  }
  .responsive__menu--icon {
    display: inline-block;
    margin-right: 20px;
  }
}
/* Header page`s style */




/* Main Part */

main {
  width: 100%;
  margin: 0 auto;
}
/* Statistic page`s style */
.statistic {
  width: 1500px;
  height: 735px;
  border: 1px solid transparent;
  margin: 0 auto;
  background: url(./../../images/home/BG\ Image.svg);
  background-size: 100%;
}
.statistic__title {
  width: 640px;
  height: 330px;
  margin-top: 128px;
  margin-left: 110px;
  margin-bottom: 230px;
}
.statistic__title--heading h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 48px;
}
.statistic__title--link {
  width: 312px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statistic__title--link button {
  width: 148px;
  height: 51px;
  border: 4px solid none;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #1d2130;
  transition: 0.4s;
}
.statistic__title--link button:hover {
  color: #ffffff;
  background-color: #1d2130;
}
.playvideobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.playvideobox a {
  color: #ffffff;
  cursor: pointer;
}
.statistic__bottom--title {
  width: 1280px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.statistic__bottom--title p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .statistic {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
  }
  .statistic__title {
    width: 640px;
    height: 330px;
    margin-top: 0;
    margin-left: 0;
  }
  .statistic__title h3 {
    font-size: 35px;
    width: 200px;
  }
  .statistic__bottom--title {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
  }
  .statistic__bottom--title img {
    display: none;
  }
}
/* Statistic page`s style */



/* About Us page`s style */
.about__us {
  max-width: 1280px;
  height: 724px;
  margin: 0 auto;
  margin-top: 100px;
}
.about__container {
  width: 100%;
  height: 578px;
  margin-bottom: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__bottom--part {
  width: 100%;
  height: 80px;
  border: 1px;
}
.about__content--text {
  width: 704px;
  height: 454px;
  border: 1px;
  display: flex;
  flex-direction: column;
}
.container__text--title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container__text--heading {
  width: 607px;
  height: 116px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d2130;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 92px;
}
.container__text--passage {
  width: 608px;
  height: 156px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
  text-align: left;
  margin-left: 92px;
  margin-bottom: 48px;
}
.text__button--btn {
  width: 148px;
  height: 51px;
  text-align: center;
  background-color: #68d56e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 4px;
  transition: 0.4s;
  margin-left: 75%;
}
.text__button--btn:hover {
  background-color: #195b1d;
}
.text__button--btn a {
  color: #fff;
}

.about__content--video {
  width: 480px;
  height: 578px;
}
.bottom__part--passage {
  display: flex;
  gap: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d2130;
}
.bottom__part--brand {
  width: 1280px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 32px;
}
@media (max-width: 1000px) {
  .about__container {
    width: 100%;
    height: auto;
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
  }
  .about__content--text {
    display: flex;
    flex-direction: column;
    margin-bottom: 170px;
  }
  .container__text--heading {
    width: 407px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #1d2130;
    margin: 0 auto;
    padding: 20px 50px;
  }
  .container__text--title {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 200px;
    margin-right: 0;
    margin-left: 0;
  }
  .container__text--passage {
    width: 407px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
    text-align: left;
    margin: 0 auto;
    padding: 20px 50px;
    margin-top: 100px;
  }
  .text__button--btn {
    width: 148px;
    height: 51px;
    text-align: center;
    background-color: #68d56e;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 4px;
    transition: 0.4s;
    margin-left: 270px;
    margin-top: 140px;
  }
  .about__content--video {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about__content--video iframe {
    width: 300px;
    height: 300px;
  }
  .bottom__part--passage {
    display: flex;
    gap: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1d2130;
    justify-content: center;
    align-items: center;
  }
  .bottom__part--passage img {
    display: none;
  }
  .bottom__part--brand {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    gap: 35px;
  }
}
/* About Us page`s style */



/* What We Do page`s style */
.what__we__do {
  width: 100%;
  height: 901px;
  background-color: #eff7f2;
  padding-top: 100px;
  margin-top: 50px;
}
.what__we__do--container{
    max-width: 1280px;
    height: 724px;
    margin: 0 auto;
    margin-top: 100x;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.functionBox{
    width: 460px;
    height: 442px;
    border-left: 1px solid rgb(194, 187, 187);
    background-color:transparent;
    margin-top: -130px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.function__card{
    width: 436px;
    height: 88px;
    display: flex;
    gap: 20px;
}
.function__card--text h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #1D2130;
    margin-bottom: 8px;
}
.function__card--text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
}
@media (max-width:1000px){
    .what__we__do--container{
        margin: 0 auto;
        margin-top: 900px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 200px;
    }
    .functionBox{
        width: 460px;
        height: 442px;
        border-left: 1px solid none;
        background-color:transparent;
        margin-top: -130px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        margin-top: 70px;
    }
    .function__card{
        width: 436px;
        height: 88px;
        display: flex;
        gap: 20px;
        padding-right: 60px;
        margin: 0 auto;
    }
    .what__we__do--container--image img{
        width: 98%;
        height: 100%;
        margin: 0 auto;
    }


}