@import "../base/global.css";

.back__img {
  width: 21px;
  height: 21px;
}

header{
  background-color: #EFF7F2;
}
.btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__btn2 {
  width: 115px;
  height: 43px;
  border: 1px solid none;
  border-radius: 5px;
  transition: 0.4s;
  background: rgba(0, 0, 0, 0.63);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 32px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  display: none;
}

.header__text {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #525560;
}

.navigation__link{
  font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #525560;
    margin-left: 40px;
}

.header__word2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: black;
}

.header__btn2:hover {
  background-color: #fff;
  transition: 0.5s;
  border: 1px solid black;
  color: black;
  display: none;
}

@media screen and (max-width: 1000px) {
  .header__btn2 {
    display: flex;
  }

  .header__btn2:hover {
    display: flex;
  }

  .header__text {
    display: inline-block;
  }

  .btn {
    gap: 50px;
  }
}

@media screen and (max-width: 900px) {
  .header__text {
    max-width: 400px;
  }
}

@media screen and (max-width: 780px) {
  .header__text {
    max-width: 400px;
    padding-top: 15px;
  }
}

@media screen and (max-width: 700px) {
  .header__text {
    max-width: 400px;
    margin-top: 15px;
    display: none;
  }
}

@media screen and (max-width: 691px) {
  .header__text {
    max-width: 500px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 650px) {
  .header__container {
    max-width: 500px;
  }

  header {
    margin-top: 20px;
  }

  .header__text {
    max-width: 600px;
    margin-top: 20px;
    display: none;
  }
}

/*goal*/

#goal{
  background-color: #EFF7F2;
}

.goal__line {
  width: 72px;
  border: 2px solid #1d2130;
}

.goal__cont{
  display: flex;
  align-items: center;
  gap: 24px;
}

.goal__btn{
  padding: 16px 32px;
  font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #70C174;
      backdrop-filter: blur(40px);
      border-radius: 4px;
}

.goal__content{
  padding-top: 96px;
  padding-left: 110px;
  padding-bottom: 296px;
}

.goal__btn:hover{
background-color: #FFFFFF;
color: #1d2130;
transition: 0.5s;
}

.goal__title{
  max-width: 496px;
  font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #1D2130;
    margin-bottom: 16px;
}

.goal__text{
  max-width: 496px;
  font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
    margin-bottom: 32px;
}

.goal__cont{
  margin-left: -160px;
  margin-bottom: 32px;
}

.goal__content2{
  background-color: #fff;
  max-width: 592px;
}

.goal__wrapper{
  padding: 24px 56px 24px 24px;
    display: flex;
      align-items: center;
      gap:24px;
}

.goal__container{
  display: flex;
  align-items: center;
}

.goal__subtitle{
  max-width: 296px;
  font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1D2130;
    margin-bottom: 8px;
}

.goal__text{
  max-width: 315px;
  font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #525560;
}


@media screen and (max-width:1000px) {
  .goal__container{
    flex-direction: column;
  }
    .goal__cont{
      flex-direction: column;
      margin-left: auto;
        margin-right: auto;
    }

    .goal__content{
      text-align: center;

    }

    .goal__text{
      margin-left: auto;
      margin-right: auto;
    }

    .goal__content2{
      max-width: 540px;
    }

    .goal__wrapper{
      flex-direction: column;
    }

    .conta{
      text-align: center;
    }

        /*card*/

        #card{
          padding-top: 96px;
        }
    
        .card__title{
          font-weight: 700;
            font-size: 48px;
            line-height: 120%;
            text-align: center;
            color: #1D2130;
            margin-bottom: 16px;
        }

        .card__subtitle{
          max-width: 290px;
          font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #1D2130;
            margin-bottom: 8px;
            margin-top: 16px;
        }

        .card__text{
          max-width: 450px;
          font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            text-align: center;
            color: #525560;
        }
    
        @media screen and (max-width: 1200px) {
          .news__title2 {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
    
          .news__list2 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 48px;
            column-gap: 20px;
          }
        }
    
        @media screen and (max-width: 880px) {
          .news__list2 {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 48px;
            column-gap: 20px;
          }
        }
} 

#cards {
  padding-top: 100px;
}

.cards__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  color: #1D2130;
  margin-bottom: 48px;
}

.cards__text {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  font-variant: small-caps;
  color: #1D2130;
}

.cards__sentence {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  font-variant: small-caps;
  color: #1D2130;
}

.wrappper {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cards__word {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1D2130;
}

.cards__span {
  display: flex;
  gap: 23px;
}

.cards__line {
  width: 44px;
  border: 2px solid #1D2130;
  margin-bottom: 18px;
}

.cards__subtitle {
  max-width: 381px;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1D2130;
}

.cards__img {
  width: 56px;
  height: 56px;
}

.cards__left__wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 32px 48px 40px 40px;
}

.cards__left {
  background-color: #BEF3C0;
  max-width: 628px;
  border-radius: 8px;
}

.cards__right {
  background-color: #BEF3C0;
  max-width: 628px;
  border-radius: 8px;
}

@media screen and (max-width:1200px) {
  .cards__title {
    text-align: center;
  }

  .wrappper {
    flex-direction: column;
    column-gap: 20px;
  }

  .cards__left {
    max-width: 580px;
  }
}

@media screen and (max-width:900px) {
  .cards__left {
      max-width: 500px;
    }

            .cards__right {
              max-width: 500px;
            }

}

@media screen and (max-width:600px) {
  .cards__left {
    max-width: 490px;
  }

  .cards__right {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .cards__left__wrapper{
    flex-direction: column;
    max-width: 490px;
  }

  .cards__left{
    max-width: 490px;
  }
}

footer{
  padding-top: 96px;
}

.footer__container{
  background-color: black;
}

.footer__item:first-child {
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
}

.footer__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.78;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  gap: 88px;
}

.footer__item:hover {
  color: #fff;
}

.item {
  color: #fff;
}

.footer__content {
  display: flex; 
  gap: 120px;
}

.footer__input {
  max-width: 456px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgba(235, 240, 249, 0.3);
  opacity: 0.8;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  background-color: #1c1d28;
}

.footer__btn {
  padding: 22px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #1d2130;
  background: #ffffff;
  backdrop-filter: blur(40px);
  border-radius: 4px;
}

.footer__content2__title {
  max-width: 440px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  margin-bottom: 32px;
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .footer__container {
    flex-direction: column-reverse;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__logo{
    margin-left: auto;
    margin-right: auto;
  }
  .footer__wrapper{
    margin-left: auto;
      margin-right: auto;
  }


  .footer__content{
    flex-direction: column;
  }

  .footer__content2 {
    margin-bottom: 100px;
    margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (max-width:1000px) {

  .footer__content2__title{
    font-size: 30px;
      line-height: 120%;
  }

  .footer__logo {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
            .footer__wrapper {
              margin-left: auto;
              margin-right: auto;
              text-align: center;
              margin-left: 250px;
            }
}

@media screen and (max-width:800px) {
  .footer__wrapper{
    margin-left: 200px;
  }
  .footer__input{
    max-width: 300px;
    text-align: center;
    margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (max-width:600px) {

  .footer__content2__title{
   max-width: 300px;
  }
  .footer__content{
    max-width: 600px;
  }

  .footer__wrapper{
    flex-direction: column;
  }

  .footer__input{
    flex-direction: column;
    row-gap: 20px;
    width: 500px;
  }

  .footer__logo{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-left: 180px;
  }

  .footer__btn{
    max-width: 500px;
  }
}